
.small-custom-button {
    text-align: center;
    padding: 1rem;
    border: 2px solid var(--white);
    margin: 1rem;
    width: 30vw;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin: 1rem; */
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .small-custom-button:hover {
    background-color: var(--white);
    color: var(--theme);
    transition: all 0.3s;
  }